#table-div{
    height: 350px;
    overflow-y: scroll;
}

#table-div::-webkit-scrollbar{
    display: none;
}

#dashboard-container{
    right: 0
}

.stock-table-button{
    font-size: 10px;
}

@media screen and (max-width: 700px) {
    #stock-pie-chart{
        display:none;
    }

    th, td{
        font-size: 10px;
    }

    #stock-table, #table-div{
        width: 90vw;
    }
}