#stockbar-div{
    width: 20vw;
    left: 180px;
    z-index: 0;
    margin: 0;
    top: 40px;
    overflow-y: scroll
}
.stock-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
}
.stock-div:hover{
    opacity: 0.75;
    cursor: pointer;
}

.stock-name{
    text-align: center;
}

.name-text{
    margin: 0;
    font-size: 12px;
}

.shares-text{
    text-align: center;
}

.shares{
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.shares-number{
    margin: 0;
    padding: 0;
}

.price-div{
    width: 6vw;
    font-size: 0.85em;
    text-align: center;
    border-radius: 5px;
}

@media screen and (max-width: 700px) {
    #stockbar-div{
        width: 100%;
    }

    .stock-div{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        align-content: center;
        justify-content: center;
        width: 90%;
        border-bottom: 1px solid gray;
    }

    .price-div{
        width: 80%; 
        font-size: 1em;
        text-align: center;
        border-radius: 5px;
        margin: auto;
    }

    .shares-text{
        display: none;
    }

    .stock-bar-link{
        height: 10vh;
    }
}