body{
    background-color: black;
}
img {
    opacity: 0.5;
    height: 75vh;
}

#login-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto
}